.dateInput{
    width:100%; 
    height:calc(2.75rem + 2px);
    color: #8898aa;
    border-radius: .375rem;
    padding: .625rem .75rem;
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    border: 0;
    font-size: .875rem;
}